---
import MainLayout from "../layouts/MainLayout.astro"
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<MainLayout>
    <h2>Hello again</h2>
<MainLayout/>
