    <section id="about" class="relative flex flex-col w-full h-[30rem] items-center">
        <div class="w-[80%] h-full flex flex-col items-center gap-4 ">
            <div class="flex w-full items-center gap-4 py-[3rem] h-1/5 flex-wrap bg-bgrd">
                <h1>About Me</h1>
                <div class="border-t-2 border-accent w-[32rem]"></div>
            </div>
            <div class="w-1/2 text-center py-8 overflow-y-auto">
                <p>
                    Hello, my full name is Dan Stéphane Ngendahayo!<br /><br />
                    I’m a software engineering graduate from the University of
                    Ottawa (Class of 2024).<br /><br />
                    My passion is transforming my creativity and knowledge into a
                    software solution that makes my life easier. As a lifelong learner,
                    my goal is to apply my skills to solving real-world problems one
                    line of code at a time.<br /><br />
                    Thanks for dropping by and feel free to send me a message if you want to connect with me!
                </p>
            </div>
        </div>
    </section>
