
    <section id="contacts" class="flex flex-col w-full h-[40rem] items-center">
        <div class="flex w-3/4 items-center gap-4 py-[3rem] h-1/5 flex-wrap bg-bgrd">
            <h1>contacts</h1>
            <div class="border-t-2 border-accent w-[32rem]"></div>
        </div>
        <div class="flex w-[70%] justify-around flex-wrap">
            <div class="w-1/2">
                <p>
                    I’m interested in front-end and back-end web development
                    opportunities. If you have questions or just want to have a talk
                    don’t hesitate to send me a message on linkedIn.
                </p>
            </div>
            <div class="min-w-1/5 border-2 border-gray flex flex-col gap-4 p-4">
                <h3>Message me here</h3>
                <a class="flex items-center gap-4 " href="https://www.linkedin.com/in/dan-ngendahayo-6956b1193/"><img src="/Linkedin.svg"
                        alt="LinkedIn link" /> Dan Ngendahayo</a>
            </div>
        </div>
    </section>
