
    <footer class = "flex justify-between border-gray border-t-2 items-center py-4">
        <span class="flex items-center gap-[0.2rem] h-fit ml-[2rem]">
            <img src="/logo.svg" alt="Website logo" />
            <h2 class="text-xl">Dan N.</h2>
        </span>
        <div class="mr-[7rem]">
            <span>
                <a class="flex gap-1" href="https://www.linkedin.com/in/dan-ngendahayo-6956b1193/"><img src="/Linkedin.svg"
                        alt="Linkedin link" />
                        Dan Ngendahayo
                </a>
                <a class="flex gap-1" href="https://github.com/Dan925">
                    <img src="/Github.svg" alt="GitHub Link" />
                    Dan925
                </a>
            </span>
        </div>
    </footer>
