---
import { Image } from '@astrojs/image/components';
---
    <footer class = "flex justify-between border-gray border-t-2 items-center py-4">
        <span class="flex items-center gap-[0.2rem] h-fit ml-[2rem]">
            <Image src="/logo.svg" alt="Website logo" width={16} height={17} format={"svg"} />
            <h2 class="text-xl">Dan N.</h2>
        </span>
        <div class="mr-[7rem]">
            <span>
                <a class="flex items-center gap-1" href="https://www.linkedin.com/in/dan-ngendahayo-6956b1193/">
            <Image src="/Linkedin.svg" alt="LinkdedIn link" width={30} height={30} format={"svg"}/>
                        Dan Ngendahayo
                </a>
                <a class="flex gap-1" href="https://github.com/Dan925">
                <Image src="/Github.svg" alt="GitHub link" width={30} height={30} format={"svg"}/>
                    Dan925
                </a>
            </span>
        </div>
    </footer>
