
    <footer class = "flex justify-between border-gray border-t-2">
        <span class="flex items-center gap-[0.2rem] h-fit ml-[2rem]">
            <img src="/logo.svg" alt="Website logo" />
            <h4>Dan N.</h4>
        </span>
        <div class="mr-[7rem]">
            <h4>Media</h4>
            <span>
                <a href="https://www.linkedin.com/in/dan-ngendahayo-6956b1193/"><img src="/Linkedin.svg"
                        alt="Linkedin link" />
                </a>
                <a href="https://github.com/Dan925">
                    <img src="/Github.svg" alt="GitHub Link" />
                </a>
            </span>
        </div>
    </footer>
