    <header class="sticky top-0 bg-bgrd-b flex p-[2rem] justify-between align-center z-30">
        <span class="flex items-center gap-[0.2rem] h-fit ml-[2rem]">
            <img src="/logo.svg" alt="Website logo" />
            <h2 class="text-2xl">Dan N.</h2>
        </span>

        <ul class="flex gap-[1rem] mr-[3rem]">
            <li><a href="#hero">home</a></li>
            <li><a href="#about">about-me</a></li>
            <li><a href="#skills">skills</a></li>
            <li><a href="#projects">projects</a></li>
            <li><a href="#contacts">contacts</a></li>
        </ul>
    </header>

