    <header class="sticky top-0 bg-bgrd-b flex p-[2rem] justify-between align-center z-30">
        <a class="flex items-center gap-[0.2rem] h-fit ml-[2rem] text-white" href="#hero">
            <img src="/logo.svg" alt="Website logo" />
            <h2 class="text-2xl">Dan N.</h2>
        </a>

        <ul class="flex gap-5 mr-[3rem]">
            <li><a href="#about">About Me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </header>

